<p id="notice"><%= notice %></p>

<h1>Realestates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Age</th>
      <th>Remarks</th>
      <th>Route1</th>
      <th>Station1</th>
      <th>Distance walk1</th>
      <th>Route2</th>
      <th>Station2</th>
      <th>Distance walk2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realestates.each do |realestate| %>
      <tr>
        <td><%= realestate.name %></td>
        <td><%= realestate.rent %></td>
        <td><%= realestate.address %></td>
        <td><%= realestate.age %></td>
        <td><%= realestate.remarks %></td>
        <td><%= realestate.route1 %></td>
        <td><%= realestate.station1 %></td>
        <td><%= realestate.distance_walk1 %></td>
        <td><%= realestate.route2 %></td>
        <td><%= realestate.station2 %></td>
        <td><%= realestate.distance_walk2 %></td>
        <td><%= link_to 'Show', realestate %></td>
        <td><%= link_to 'Edit', edit_realestate_path(realestate) %></td>
        <td><%= link_to 'Destroy', realestate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realestate', new_realestate_path %>
